<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title>WorldProblems</title>
  <link rel="stylesheet" href="style.css" type="text/css" media="screen" charset="utf-8">
</head>
<body>
  <div id="first-world" class="problem">
    Bacon ipsum dolor sit amet shank fatback bresaola swine.
  </div>
  <!-- <div id="reload"> -->
  <!-- </div> -->
  <a id="reload"><img src="reload.svg" width="96px" height="96px"/></a>
  <div id="third-world" class="problem">
    Ham brisket leberkas rump, drumstick capicola shank pork belly porchetta kevin.
  </div>
</body>

<script type="application/dart" src="world_problems.dart"></script>
<script src="packages/browser/dart.js"></script>
</html>
